[Unit]
Description=V2ray nodes subscription manager
After=network.target

[Service]
KillSignal=SIGQUIT
WorkingDirectory=/opt/lazarus
ExecStart=/opt/lazarus/main
Environment=GIN_MODE=release
Restart=always
RestartSec=30
Type=simple
NotifyAccess=all
StandardError=syslog

[Install]
WantedBy=multi-user.target